body{
    margin-top:  0;
    padding: 0%
    font-size 1.4em;
    background-image: url(../image/none.jpg);
}

.header{
    margin-top: 0px;
    background-color:orange;
    position: fixed;
    top: 0;
    width: 100%;
    height:70px;
}
.header-item{
    list-style-type: none;
    display: flex;
    flex-direction: row;
}
.header-item> li >a {
    padding: 0.5em 1em ;
    text-decoration: none;
    color: gray;
    border-radius: 2em;
    background-color:yellow;
}
.homes{
    padding-top: 70px;
    display: flex;
    width: 80%;
    align-items: center;
    justify-content: space-around;
}
.home-mail-head{
    font-weight: bold;
}
.home-img{
    width: 50%;
}
.home-info{
     width:50%
}
.about{
}
.about-heading{
    text-align: center;
    padding: 0.8em;
}
.breif-description,
.goal{
    width: 200px;
    padding: 0.1em 2em;
    padding-bottom: 2em;
    background-color: blue;
    margin: 0.3em;
    border-radius: 2em;
}
.skills,
.hobbies{
    display: flex;
    list-style-type: none;
    flex-wrap: wrap;
    align-items: center;
    justify-self: center;
}
.skills > li,
.hobbies > li{
    width: 15%;
    padding: 1em;
    background-color:violet;
    margin: 2em;
    border-radius: 2em;

}
.contact{
    display: flex;
}
.contact-item{
    width: 40%;
    margin: 1em;
    background-color: greenyellow;
    border-radius: 0.8em;
}
.project{
    padding: 2em;
}
.project > h1 {
    text-align: center;
    padding-top: 1em;
}
.project-container{
    display: flex;
}
.project-items{
    width: 40%;
    margin: auto;
    padding: 2em;
    background-color:red;
    border-radius: 2em;
}
